<form #imgForm=ngForm>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="galeriaItem.nombre" name="image" required />
    </mat-form-field>

    <mat-form-field class="file-galeria">
        <ngx-mat-file-input placeholder="Subir imagen" accept="image/*" (change)="selectFile($event)">
        </ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <button mat-mini-fab [disabled]="!imgForm.valid || !base64" (click)="guardarImage()">
        <mat-icon>save</mat-icon>
    </button>
</form>

<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let image of images; let i = index">
        <mat-card class="item">
            <mat-card-title class="title">{{image.data.nombre}}</mat-card-title>
            <mat-card-content>
                <div class="body">
                    <img class="img" src="{{image.data.imagenUrl}}" />
                </div>
                <div class="footer">
                    <button mat-mini-fab color="warn" class="btn-delete" (click)="deleteImage(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>