@import '../../variables.scss';

.loader {
    width: $gutter * 32;
}

.input {
    width: 100%;
}

.input-wopc {
    width: 90%;
}

.btn-delete {
    float: right;
    margin-left: $gutter * 3;
    color: $color-gray-light;
    background: $color-orange;
}

.footer {
    float: right;
    .btn {
        margin-left: $gutter;
    }
}

.header {
    .input-key-value {
        margin-right: $gutter * 3;
    }
    .btn-add {
        float: right;
        color: $color-gray-light;
        background: $color-turquoise;
    }
}

.btn-ok {
    margin-top: $gutter;
    margin-left: $gutter * 3;
    color: $color-gray-light;
    background: $color-green;
}

.btn-cancel  {
    margin-top: $gutter;
    margin-left: $gutter * 3;
    color: $color-gray-light;
    background: $color-pink-dark;
}
