<div *ngIf="data.type==='confirmation'">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content>
        {{data.content}}
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancelar</button>
        <button mat-button [mat-dialog-close]="true">Aceptar</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type==='loader'" class="loader">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-dialog-content>
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </mat-dialog-content>
</div>

<div *ngIf="data.type==='form'">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <div class="header" *ngIf="data.content.dynamic">
        <mat-form-field class="input-key-value">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="type">
                <ng-container *ngFor="let type of FORM_ITEM_TYPES">
                    <mat-option *ngIf="type!=='select'" [value]="type">{{ type }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-key-value">
            <mat-label>Key</mat-label>
            <input matInput [(ngModel)]="key" name="key{{addedItemsCounter}}" />
        </mat-form-field>
        <mat-form-field class="input-key-value">
            <mat-label>Value</mat-label>
            <ng-container [ngSwitch]="type">
                <ng-container *ngSwitchCase="'text-area'">
                    <textarea matInput [(ngModel)]="value" name="value{{addedItemsCounter}}"></textarea>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <input matInput [type]="type" [(ngModel)]="value" name="value{{addedItemsCounter}}" />
                </ng-container>
            </ng-container>
        </mat-form-field>
        <button mat-icon-button class="btn-add" (click)="addItem()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <form #formFields=ngForm>
            <ng-container *ngFor="let item of data.content.formItems; let i = index">
                <mat-form-field [class]="data.content.dynamic?'input-wopc':'input'">
                    <mat-label>{{item.title?item.title:item.key}}</mat-label>
                    <ng-container [ngSwitch]="item.type">
                        <ng-container *ngSwitchCase="'text-area'">
                            <textarea matInput [(ngModel)]="item.value" name="formItem{{i}}"
                                [required]="item.required"></textarea>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <input [type]="item.type" matInput [(ngModel)]="item.value" name="formItem{{i}}"
                                [required]="item.required" />
                        </ng-container>
                    </ng-container>
                </mat-form-field>
                <button class="btn-delete" mat-icon-button *ngIf="data.content.dynamic" (click)="removeItem(i)">
                    <mat-icon>remove</mat-icon>
                </button>
            </ng-container>
            <mat-form-field class="file-galeria" *ngIf="data.content.imageFieldAvailable">
                <ngx-mat-file-input placeholder="Subir imagen" accept="image/*" (change)="selectFile($event)">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <div class="footer">
        <button mat-raised-button class="btn-ok" [mat-dialog-close]="data.content" [disabled]="!formFields.valid || data.content.formItems.length===0 ||
        (!data.content.image && (data.content.imageFieldAvailable && !data.content.imageFieldOptional))">
            Actualizar
        </button>
        <button mat-raised-button class="btn-cancel" mat-dialog-close>
            Cancelar
        </button>
    </div>
</div>