$color-green: #89bd71;
$color-green-light: #b7eba0; 
$color-gray:#f2f2f2;
$color-light: #FFFFFF;
$color-gray-dark: #8f8f8f;
$color-gray-light: #e3e3e3;
$color-blue: #009ba3;
$color-black-light: #404040;
$color-black-dark: #333333;
$color-pink-dark: #a30065;
$color-turquoise: #07737a;
$color-orange: #f5961b;
$gutter: 8px;
