@import '../../variables.scss';

.login-container {
    top: 128px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    max-width: 512px;
    background-image: linear-gradient(to right, $color-green, $color-green-light);
    opacity: 0.9;
}

.logo {
    position: fixed;
    top: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
}