/* You can add global styles to this file, and also import other style files */
@import './app//variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.full-width {
  width: 100%;
}

.item {
  width: $gutter * 22;
  height: $gutter * 18;
  margin-bottom: $gutter * 2;
  .title {
      font-size: 12pt;
      word-wrap: break-word;
      height: $gutter * 3;
  }
  .body {
      margin: auto;
      text-align: center;
      .img {
          width: $gutter * 8;
          height: $gutter * 8;
          border-radius: $gutter;
      }
  }
  .footer {
      text-align: right;
      .btn-delete {
          margin-left: $gutter;
          background-color: $color-pink-dark;
      }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $color-gray-light;
}

::-webkit-scrollbar-thumb {
  background: $color-gray-dark;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: $color-black-light;
}